<ion-header [translucent]="true">
  <ion-toolbar class="colorboton1">
    <ion-title>Carrito de Compras</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="productos"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="carrito.length > 0; else emptyCart">
    <ion-item *ngFor="let producto of carrito">
      <ion-thumbnail slot="start">
        <img [src]="servG.imagenUrl(producto.prod_imagen)">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ producto.prod_nombre }}</h2>
        <p>{{ producto.prod_precio | currency }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #emptyCart>
    <ion-text color="medium">
      <h3>Tu carrito está vacío</h3>
    </ion-text>
  </ng-template>

  <ion-footer *ngIf="carrito.length > 0">
    <ion-item>
      <ion-label><strong>Total:</strong></ion-label>
      <ion-note slot="end">{{ calcularTotal() | currency }}</ion-note>
    </ion-item>
    <ion-button expand="full" color="success" (click)="finalizarCompra()">
      Finalizar Compra
    </ion-button>
  </ion-footer>
</ion-content>
