ion-icon{
    font-size: 30px;
}
.colorboton1{
    --ion-background-color:#12285e;
    color:rgb(12,243,247);
}
.alertHeader {
    color: #b52024 !important;
   // --color: #b52024 !important;
 }
 h2.alertHeader {
   color: #b52024 !important;
  // --color: #b52024 !important;
 }
 .image-container {
    width: 100%;
    height: 200px; // Ajusta la altura según lo que necesites para tu diseño
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px; // Para esquinas redondeadas
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Sombra opcional para dar profundidad
    background-color: #f9f9f9; // Color de fondo opcional en caso de que la imagen no cargue
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; // Cubre todo el contenedor sin deformar la imagen
    object-position: center; // Centra la imagen en caso de recorte
  }

  .card-container {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
    // Fondo degradado
    background: linear-gradient(135deg, #45526d, #e6e2e0); // Cambia los colores a tu preferencia
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }